<div class="ui fixed fitted inverted borderless six item menu">
    <% if (queryAuthor) { %>
    <button class="ui large  icon button disabled">
        <i class="user icon"></i>
    </button>
    <% for(let i=0; i<blog.tags.length; i++) {%>
      <a href="<%= blog.firstPath %>/posts/tags/<%= i %>?author=<%= queryAuthor %>" class="item"><%= blog.tags[i] %></a>
    <% } %>
    <% } else { %>
    <button class="ui large  icon button disabled">
        <i class="users icon"></i>
    </button>
    <% for(let i=0; i<blog.tags.length; i++) {%>
      <a href="<%= blog.firstPath %>/posts/tags/<%= i %>" class="item"><%= blog.tags[i] %></a>
    <% } %>
    <% } %>
</div>
