<%- include('header') %>
<%- include('components/nav-bar') %>

<div class="ui grid">
  <div class="two wide column">
    <a class="avatar" href="<%= blog.firstPath %>/posts?author=<%= user._id %>"
      data-title="<%= user.name %> | <%= ({m: '男', f: '女', x: '保密'})[user.gender] %>" data-content="<%= user.bio %>">
      <img class="avatar" src="<%= blog.staticDir %>/img/<%= user.avatar %>">
    </a>
  </div>

  <div class="fourteen wide column">
    <form class="ui form segment" method="post" action="<%= blog.firstPath %>/posts/<%= post._id %>/edit">
      <div class="field required">
        <label>标题</label>
        <input type="text" name="title" value="<%= post.title %>">
      </div>
      <div class="field required">
        <label>内容</label>
        <textarea name="content" rows="15"><%= post.content %></textarea>
      </div>

      <div class="ui form">
        <div class="inline fields">
          <% for(let i=0; i<blog.tags.length; i++) {%>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="tag" value="<%= i %>" disabled="disabled">
              <label><%= blog.tags[i] %></label>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <br>

      <input type="submit" class="ui button" value="发布">
    </form>
  </div>
</div>

<%- include('footer') %>
